In [6]:
s1 = 'my name is nehal'
s2 = 'i read in EEE'

In [7]:
import numpy as np 
np.char.add(s1,s2)

np.str_('my name is nehali read in EEE')

In [8]:
np.char.upper(s1)

array('MY NAME IS NEHAL', dtype='<U16')

In [9]:
np.char.lower(s2)

array('i read in eee', dtype='<U13')

In [10]:
np.char.split(s1)

array(list(['my', 'name', 'is', 'nehal']), dtype=object)

In [13]:
s3 = 'i am a student\nof eee'
np.char.splitlines(s3)

array(list(['i am a student', 'of eee']), dtype=object)

In [16]:
np.char.replace(s1, 'name', 'surname')

array('my surname is nehal', dtype='<U19')

In [17]:
print(np.char.center('good bye',80,'*'))

************************************good bye************************************